<article *ngIf="character" class="character-create">
  <header><h2 class="text-center header-color">Create New Character</h2></header>

  <form class="container mt-4 form-colors" #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 mb-3">
        <label for="name" class="form-label">Name:</label>
        <input id="name" name="name" [(ngModel)]="character.name" class="form-control" required/>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-6 mb-3">
        <label for="age" class="form-label">Age:</label>
        <input id="age" type="number" name="age" [(ngModel)]="character.age" class="form-control" required/>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-6 mb-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" (click)="form.resetForm()">Reset</button>
      </div>
    </div>
  </form>
</article>
